@import "colors.css";

* {
    all: unset;
    font-family: "Rubik", "JetBrainsMono Nerd font Propo", "Noto Sans CJK JP", "Noto sans CJK KR";
}

tooltip {
    background-color: @bg1;
    color: @fg;
    border-radius: 12px;
}
 
.modules-center {
    background-color: @bg0;
    color: @fg;
    padding: 4px 18px;
    border-radius: 99px;
}

#clock {
    font-weight: 500;
}

#workspaces {
    min-width: 100px;
    background-color: @bg2;
    font-size: 0.95rem;
    padding: 2px 3px;
    margin: 3px 0;
    border-radius: 99px;
}

#workspaces button {
    background-color: @bg3;
    padding: 0px 5px;
    border-radius: 99px;
    margin: 0 2px;
    transition: all 300ms ease-in-out;
    min-width: 7px;
}

#workspaces button.empty {
    color: @gray0
}

#workspaces button.active {
    background-color: @green;
    color: @bg1;
    min-width: 1.5rem;
    font-weight: 500;
    transition: none;
}

window#waybar {
    background: transparent;
}



#tray {
    background-color: @bg0;
    border-radius: 99px;
    padding: 2px 8px;
    margin: 3px 0;
}

menu {
    background-color: @bg0; /* Change to your preferred background color */           /* Change to your preferred text color */
    border-radius: 5px;
    padding: 5px;
    border-radius: 10px;
}

menuitem {
    padding: 5px 10px;
}

menuitem:hover {
    background-color: @surface /* Background when hovering over menu items */
}
